HoverBoardGigaDevice/Objects/*
HoverBoardGigaDevice/BinariesToFlash/hoverboard*
HoverBoardGigaDevice/Inc/configSelect.h
HoverBoardGigaDevice/Hoverboard.uvguix*
HoverBoardGigaDevice/Hoverboard.uvoptx
HoverBoardGigaDevice/.vscode*
HoverBoardGigaDevice/clearGitIgnore.bat

